name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'
      - 'test-*'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-22.04  # required for Python 3.7 support

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish to PyPI or TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: >-
            ${{
              startsWith(github.ref, 'refs/tags/test-')
              && 'https://test.pypi.org/legacy/'
              || 'https://upload.pypi.org/legacy/'
            }}
